<h1>
    Vehicles
    <% if (user_signed_in?) && (current_user.has_role? :driver) %>
    <%=  link_to('New Vehicle', new_vehicle_path, class: "btn btn-primary") %>
    <% end %>
</h1>

<% @vehicles.each do |vehicle| %>
    <p> <%= link_to vehicle.make, vehicle %> with <%= vehicle.size %>.</p>
    <div>
        <% if vehicle.order == nil %>
            <%=  link_to('Make a booking', new_vehicle_order_path(vehicle), class: "btn btn-primary") %>
        <% else %>
            <%=  "This vehicle has been booked" %>
        <% end %>
    </div>
<% end %>



